.navbar {
  background-color: #207a20;
}
.navbar .nav-link:focus-visible,
.navbar .btn:focus-visible {
  outline: 2px solid #FFFFFF;
  outline-offset: 1px;
}
.navbar .navigation .nav-link,
.navbar .logo svg,
.navbar .cart svg,
.navbar .user svg,
.navbar .user .dropdown-toggle,
.navbar .contact svg {
  color: #000000;
}
.navbar .nav-link:focus:not(.cart, .cartBottom),
.navbar .nav-link:hover:not(.cartBottom),
.navbar .nav-link:focus-visible,
.navbar .contactLink:hover,
.navbar .contactLink:focus-visible {
  color: #FFFFFF;
}
.navbar .nav-link:focus:not(.cart, .cartBottom) svg,
.navbar .nav-link:hover:not(.cartBottom) svg,
.navbar .nav-link:focus-visible svg,
.navbar .contactLink:hover svg,
.navbar .contactLink:focus-visible svg {
  color: #FFFFFF;
}
.navbar .user .btn:hover,
.navbar .user .btn:focus {
  color: #FFFFFF;
}
.navbar .user .btn:hover svg,
.navbar .user .btn:focus svg {
  color: #FFFFFF;
}
.navbar .btn {
  transition: border-radius 0.1s ease;
}
.navbar .btn,
.navbar .btn:hover {
  border: none;
}
.navbar .modal-body {
  background-color: #161616;
  border-radius: 0.2rem;
}
.navbar .modal-body .searchBar {
  background-color: #FFFFFF;
  border-radius: 0.2rem;
}
.navbar .dropdown-menu {
  background-color: #161616;
}
.navbar .dropdown-menu .dropdown-item {
  color: #FFFFFF;
}
.navbar .dropdown-menu .dropdown-item:hover,
.navbar .dropdown-menu .dropdown-item:focus {
  background-color: #0c0c0c;
}
.navbar .offcanvas {
  background-color: #161616;
}
.navbar .offcanvas-title,
.navbar .offcanvas .nav-link {
  color: #FFFFFF;
}
.navbar .form-control {
  border: none;
}
.navbar .form-control:focus,
.navbar .form-control:hover {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.5);
}

.searchModalButton {
  display: initial;
}

.header {
  padding: 8px 12px;
}

.logo {
  margin-left: calc(50% - 20px);
}

.searchModal {
  display: flex;
  align-items: center;
}
.searchModal .searchBarClose {
  margin-left: 1rem;
}

.searchBar {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.searchBar__input {
  padding-left: 36px;
  cursor: pointer;
  width: 100%;
  text-align: start;
}

.searchBar__icon {
  position: absolute;
  display: flex;
  pointer-events: none;
  padding-left: 10px;
}

.contact,
.searchBarCnt,
.navigation .vr,
.user,
.cart,
.navigationToggler {
  display: none;
}

@media only screen and (min-width: 576px) {
  .searchModalButton,
  .bottomNavigation {
    display: none;
  }
  .header {
    display: grid;
    grid-template-columns: auto 1fr repeat(3, auto);
    grid-auto-rows: auto;
    padding: 12px 16px;
  }
  .navigationToggler > span,
  .contact,
  .cart,
  .user,
  .navigationToggler,
  .navigation .vr {
    display: initial;
  }
  .logo {
    grid-column: 1/2;
    grid-row: 1;
    margin-left: 0;
  }
  .searchBarCnt {
    display: flex;
    justify-self: center;
    width: 80%;
    max-width: 400px;
    grid-column: 2/3;
    grid-row: 1;
  }
  .contact {
    grid-column: 3/4;
    grid-row: 1;
  }
  .contact .contactLink {
    text-decoration: none;
  }
  .cart {
    grid-column: 4/5;
    grid-row: 1;
  }
  .user {
    grid-column: 5/6;
    grid-row: 1;
  }
  .navigation {
    width: 100%;
    grid-column: 1/6;
    grid-row: 2;
  }
  .navigation > ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
}
@media only screen and (min-width: 992px) {
  .navigation .vr {
    display: none;
  }
  .navigation,
  .logo,
  .cart,
  .user {
    order: initial;
  }
  .header {
    display: flex;
    padding: 12px 24px;
  }
  .navigation {
    flex-grow: 0;
    width: max-content;
    margin-right: 16px;
  }
  .searchBarCnt {
    flex-grow: 1;
    width: auto;
    margin: 0 auto;
  }
  .contact {
    margin-left: 16px;
  }
  .user {
    margin: 0;
  }
}
footer {
  background-color: #161616;
  padding: 44px 16px 84px;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.footerLogo {
  display: block;
  width: 120px;
  height: 120px;
  margin-bottom: 44px;
  align-self: center;
}
.footerLogo svg {
  color: #FFFFFF;
}

.sectionsContainer {
  max-width: max-content;
  margin-left: calc(50% - 60px);
}

.footerNavigation,
.footerContact,
.footerSchedule,
.footerDirection {
  flex-direction: column;
  margin-bottom: 22px;
  align-items: start;
}
.footerNavigation .nav-link,
.footerNavigation .scheduleItem,
.footerNavigation .directionItem,
.footerNavigation h5,
.footerContact .nav-link,
.footerContact .scheduleItem,
.footerContact .directionItem,
.footerContact h5,
.footerSchedule .nav-link,
.footerSchedule .scheduleItem,
.footerSchedule .directionItem,
.footerSchedule h5,
.footerDirection .nav-link,
.footerDirection .scheduleItem,
.footerDirection .directionItem,
.footerDirection h5 {
  color: #FFFFFF;
  padding: 8px 16px;
}

.footerContact .nav-item .nav-link {
  display: flex;
  align-items: center;
}
.footerContact .nav-item .nav-link svg {
  margin-right: 0.5rem;
}

.scheduleItem,
.directionItem {
  display: block;
}

.directionItem {
  display: flex;
  align-items: center;
}
.directionItem svg {
  margin-right: 0.5rem;
}

.copyWrite {
  text-align: center;
  font-style: italic;
  color: white;
  margin-top: 44px;
  margin-bottom: 0;
}

@media only screen and (min-width: 576px) {
  footer {
    padding-bottom: 24px;
  }
}
@media only screen and (min-width: 768px) {
  .sectionsContainer {
    display: flex;
    flex-direction: row;
    max-width: none;
    width: 100%;
    margin: 0;
    justify-content: space-between;
  }
  .footerNavigation,
  .footerContact,
  .footerSchedule,
  .footerDirection {
    width: max-content;
  }
}
@media only screen and (min-width: 1200px) {
  .footer {
    flex-direction: row;
  }
  .footerLogo {
    align-self: start;
    width: 20%;
  }
  .sectionsContainer {
    width: 80%;
  }
}
main {
  height: 100vh;
}

main {
  height: 100vh;
}

main {
  height: 100vh;
}

main {
  height: 100vh;
}

main {
  height: 100vh;
}

main {
  height: 100vh;
}

/*# sourceMappingURL=main.css.map */
