html, body {
    height: 100%;
    margin: 0;
}
  
main {
    min-height: calc(100vh - 100px); 
}

footer {
    padding: 48px 0 8px 0 ;
}

footer,
footer *,
footer a {
    background-color: grey;
    list-style: none;
    text-decoration: none;
    color: white;
}

.mediaImg {
    padding-right: 12px;
    width: 36px;
}

.ftrContainer {
    width: 244px !important;
    margin: 0 auto;
}

.itemGap {
    padding-bottom: 16px;
}

.ftrContainer__item {
    max-width: max-content;
}

.logoImg {
    width: 100px;
    height: 100px;
    margin-bottom: 16px;
}

.list__item {
    padding-bottom: 4px;
}

.list__item:last-child {
    padding-bottom: 0;
}
